################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Open_Classroom/v16/Browse.VC.db
/.vs/Open_Classroom/v16/Browse.VC.db-shm
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Open_Classroom/v16/ipch/AutoPCH/51d60ad65006ebcc/~VS8DC7.ipch
/.vs/Open_Classroom/v16/ipch/AutoPCH/3e9fcfa2d03f2ae2/MAIN.ipch
/.vs/Open_Classroom/v16/Browse.VC.opendb
/.vs/Open_Classroom/v16/Browse.VC.db-wal
/.vs/Open_Classroom/v16/.suo
