@font-face {
    font-family: 'Noticia';
        src : url('polices/NoticiaText-Regular.ttf') format('truetype');
}

body
{
    background-color: whitesmoke;
}
.date
{
    color: grey;
}
h1
{
    text-align: center;
    font-family: 'Noticia', Arial, serif;
}
h1 + p
{
    text-align: center;
}
h2
{
    font-family: 'Noticia', Arial, serif; 
}

#corps
{
    display: flex;
}

.imgcote
{
    margin-right: 20px;
    border-radius: 5px;
    height: 550px;
    width: 100px;
}

#experience
{
    width: 30%;
    margin-right: 2%;
}
#competences
{
    width: 30%;
    margin-right: 2%;
}
#formation
{
    width: 30;
    margin-right: 2%;
}

/*Début Responsive design*/
@media all and (max-width:1200px)
{
    .imgcote
    {
        display: none;
    }
    #corps
    {
        width: auto;
        flex-direction: column;
        margin: auto;
    }
    #experience
    {
        width: auto;

    }
    #competences
    {
        width: auto;

    }
    #formation
    {
        width: auto;
    }
}